extends layout

block head-block
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")

block content
  .container-fluid.sticky-top.top-nav
    .row.align-middle
      .col-4(id="back-btn")
        h5 < Back
      .col-4.text-center
        h5 Item

  .container-fluid.py-2
    .row.justify-content-center.single-item-pic
      img(src=`${data.img}`, width='100px')
    .row.single-item-desc-row
      .col-4.text-right
        p.single-item-desc-row-label Name:
      input(id="name" type=type, value='#{data.name}')
    .row.single-item-desc-row
      .col-4.text-right
        p.single-item-desc-row-label type:
      input(id="type" type=type, value='#{data.type}')
    .row.single-item-desc-row
      .col-4.text-right
        p.single-item-desc-row-label Post Date:
      .col.pl-0 #{data.post_date}
    .row.single-item-desc-row
      .col-4.text-right
        p.single-item-desc-row-label Description:
      textarea(id="desc" type=type rows="5") #{data.description}
    .row.mt-4
      .col(id="save-btn")
        button.btn.single-item-request-btn.btn-block Save

  script(type='text/javascript').
    const data = !{JSON.stringify(data)}
    console.log(data);
    const redirect = !{'"' + `${redirect}` + '"'}

  script
    include ../public/javascripts/edit.js
